.home {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    gap: 8rem;
    padding: 0 2rem;
    z-index: 3;

    overflow: hidden;
}
@media only screen and (max-width: 1024px) {
    .home {
        padding: 0 1.5rem;
    }
}
.home .steps {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    gap: 4rem;
}
.steps .step {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    gap: 4rem;
}
.step .glider {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.glider .line {
    z-index: 2;
}
.glider .number {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 2.25rem;
    height: 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 3;
}
.number p {
    font-size: 1.25em;
    font-weight: 800;
    color: var(--neutral-dark-absolute);
    text-align: center;
}
.glider .stepname {
    padding-top: 1.5rem;
}
.stepname .text {
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    text-transform: capitalize;
}
.step .title {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    align-items: center;
}
.title p {
    font-weight: 800;
    font-size: 6em;
    color: var(--color-neutral-light-2);
    width: 100%;
    text-align: center;
}
.title span {
    display: inline-flex;
    position: relative;
    left: 12px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
}
.title span svg {
    font-size: 3em;
}
.step .description {
    position: relative;
    width: 75%;
    text-align: center;
    color: var(--color-neutral-light-2);
    font-weight: 400;
    font-size: 1.5em;
}
.step .taskswrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-top: 4rem;
}
.taskswrapper svg {
    font-size: 8em;
    color: var(--color-neutral-light-2);
}
.taskswrapper .taskcard {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    max-width: 16rem;
    height: fit-content;
    max-height: 14rem;
    padding: 1.5rem;
    gap: 2rem;
    border: 2px solid var(--color-neutral-light-2);
    border-radius: 1.5rem;
}
.taskcard svg {
    font-size: 4em;
    color: var(--color-neutral-light-2);
}
.taskcard .taskcardcontent {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
    gap: 12px;
}
.taskcardcontent h5 {
    font-weight: 400;
    font-size: 1em;
    color: var(--color-neutral-light-2);
}
.taskcardcontent p {
    font-weight: 300;
    font-size: 1em;
    color: var(--color-neutral-light-2);
}
