.topbar {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    padding: clamp(1.5rem, 2.5vw, 2rem);
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.topbar .logo {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;

    gap: 8px;
    align-items: center;
}

.logo svg {
    font-size: clamp(1.5em, 3vw, 2em);
    color: var(--color-neutral-dark);
}
.logo p {
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: 800;
    text-transform: capitalize;
    color: var(--color-neutral-dark);
}
@media only screen and (max-width: 480px) {
    .logo p {
        display: none;
    }
}
.topbar .menuitems {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: clamp(1em, 2vw, 1.5em);
}
.topbar .menuitem {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 8px;
    padding: clamp(8px, 2vw, 12px);
    border-radius: 12px;
    background: none;

    box-shadow: none;
    outline: none;
    border: none;
    appearance: none;
    text-decoration: none;

    cursor: pointer;

    transition: background-color 0.3s ease-out;
}
.menuitem:hover {
    background-color: var(--color-neutral-light);
}
.menuitem svg {
    color: var(--color-neutral-dark);
    font-size: 1.5em;
}
.menuitem p {
    color: var(--color-neutral-dark);
    font-size: clamp(1em, 1.25vw, 1.25em);
    letter-spacing: 0.02em;
    font-weight: 800;
    text-transform: capitalize;
}
.topbar button[data-islight="true"] svg {
    fill: var(--color-neutral-dark);
}
.menuitem:focus {
    outline: 2px solid var(--color-primary);
}